NODE_ENV=development
PORT=8080
APP_BASE_URL=http://localhost:5173
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_CONFIG=
FIREBASE_ADMIN_CONFIG=
FIREBASE_STORAGE_BUCKET=
AGENT_DOWNLOAD_URL=
HEARTBEAT_INTERVAL=60
OFFLINE_TIMEOUT=180
SCREENSHOT_INTERVAL=30
SCREENSHOT_RETENTION=90
